[submodule "manjaro-kernel-bundler"]
	path = manjaro-kernel-bundler
	url = git@github.com:D1SoveR/manjaro-kernel-bundler.git
[submodule "luxtorpeda-git"]
	path = luxtorpeda-git
	url = https://aur.archlinux.org/luxtorpeda-git.git
